body{
    text-align: center;
}
.logo{
    width:200px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
ul li{
    list-style: none;
}
li a {
    color: black;
}
